@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black:#000000;
$gray:#718096;

@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.details{
    @include flex();
    padding: 1rem 0;
      span{
          font-size: 1rem;
          color: $gray;
            a{
                font-size: 1rem;
                color: $black;
            }
      }
}

.header .navbar{
    @include flex();
    padding: 3rem 0;
      .logo{
          a{
              font-size: 1.8rem;
              color: $black;
              font-weight: 600;
          }
      }
      .search-box{
          display: flex;
          align-items: center;
            span{
                font-size: 1.3rem;
                margin-left: 0.8rem;
            }
      }
      .menu{
          ul{
              display: flex;
              column-gap: 20px;
                a{
                    font-size: 1.5rem;
                    color: $black;
                }
          }
      }
      .img-icons{
          img{
              margin-left: 20px;
          }
      }
}

.head-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    background: #FBFBFB;
    padding: 0 8%;
      .content{
          flex: 1 1 40rem;
            h3{
                font-size: 7rem;
                  img{
                      width: 9rem;
                  }
            }
            p{
                font-size: 3.5rem;
                color: #4A5568;
                padding: 1rem 0;
            }
      }
      .image{
          flex: 1 1 40rem;
            img{
                width: 90%;
            }
      }
}

.card-latest{
    padding: 3rem 0;
    .row{
        @include flex();
        flex-wrap: wrap;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 5px 4px 0px #DDDDDD40;
        border-radius: 5px;
          .content{
              padding: 2rem 4rem;
                h3{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.8rem;
                    color: $gray;
                    padding: 2rem 0;
                }
          }
    }
}

.card-panel{
    padding: 2rem 0;
      .row{
          @include flex();
          justify-content: space-around;
          flex-wrap: wrap;
            .box{
                box-shadow: 0px 4px 4px 0px #C0BDBD40;
                margin-bottom: 1.5rem;
                border-radius: 5px;
                  img{
                    width: 100%;
                  }
                  .content{
                      padding: 1rem 2rem;
                        h3{
                            font-size: 1.5rem;
                        }
                        p{
                            font-size: 1.5rem;
                            padding: 1rem 0;
                            color: $gray;
                        }
                  }
            }
      }
}

.highlight-section{
    padding: 3rem 0;
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: #F7FAFC;
          .content{
              flex: 1 1 40rem;
              padding: 4rem 3rem;
                h3{
                    font-size: 6rem;
                }
                p{
                    font-size: 1.6rem;
                    color: $gray;
                    padding: 2rem 0;
                }
          }
          .image{
              flex: 1 1 40rem;
                img{
                    width: 100%;
                }
          }
    }
}

.banner{
    background-image: url(img/img-7.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.main{
    max-width: 70%;
    margin-top: 3rem;
      .content{
          h3{
              font-size: 4rem;
              color: $black;
          }
          p{
              display: inline-flex;
              padding: 1rem 0;
              font-size: 1.5rem;
              margin-bottom: 2rem;
          }
          .text{
              color: $gray;
              margin: 20px 0;
              font-size: 1.4rem;
          }
          h4{
              font-size: 2.5rem;
          }
      }
}


.footer{
    @include flex();
    padding: 1rem 0;
    margin-top: 1rem;
      p{
          font-size: 1.5rem;
          color: $black;
      }
      .img-icons{
        img{
            margin-left: 30px;
        }
    }
}


//* media queries

@media(max-width:1200px){
    .card-latest{
        .row{
            .content{
                flex: 1;
                  p{
                      font-size: 1.5rem;
                  }
            }
        }
    }
    .card-panel{
        .row{
            column-gap: 10px;
        }
    }
    .highlight-section{
        .row{
            .image{
                flex: 55%;
                  img{
                      width: 100%;
                  }
            }
        }
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .head-section{
        text-align: center;
          .content{
              padding: 5rem 0 3rem 0;
          }
          .image{
              margin-top: 3rem;
              padding-bottom: 5rem;
          }
    }
    .card-latest{
        .row{
            .image{
                width: 100%;
                  img{
                      width: 100%;
                  }
            }
        }
    }
    .card-panel{
        .row{
            column-gap: 20px;
        }
    }
}

@media(max-width:768px){
    .header .navbar{
        padding: 2rem 0;
        .search-box{
            display: none;
        }
        .img-icons{
            img{
                margin-left: 10px;
            }
        }       
    }
    .head-section{
          .content{
              h3{
                  font-size: 6rem;
                    img{
                        width: 7rem;
                    }
              }
              p{
                  font-size: 3rem;
              }
          }
    }
    .card-latest{
        .row{
            .content{
                padding: 2rem;
                  h3{
                      font-size: 2.5rem;
                  }
                  p{
                      font-size: 1.5rem;
                  }
            }
            .image{
                img{
                    width: 100%;
                }
            }
        }
    }
    .card-panel{
        .row{
            justify-content: center;
              .box{
                  margin-bottom: 3rem;
                    .content{
                        padding: 2rem;
                          p{
                              font-size: 1.6rem;
                          }
                    }
              }
        }
    }
    .highlight-section{
        .row{
            .content{
                padding: 2rem 2rem;
                  h3{
                     font-size: 5rem;
                  }
                  p{
                      text-align: justify;
                  }
            }
        }
    }
    .footer{
        .img-icons{
            img{
                margin-left: 10px;
            }
        }
    }
    .main{
        max-width: 90%;
          .content{
              h3{
                  font-size: 3.2rem;
              }
          }
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .card-latest{
        .row{
            .content{
                p{
                    font-size: 1.3rem;
                }
            }
        }
    }
    .card-panel{
        .row{
            .box{
                .content{
                    p{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}





